<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>
 
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
<% if current_user.present? %>
		<%= link_to 'Delete this comment', [comment.book,comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<% end %>