body {
   font-family: Helvetica, Geneva, Arial, sans-serif;
   font-size: small;
   font-color: #000000;
   background-color: #ccc;
   padding:5px;
}
ul>li>p
{
  font-size: large;
  font-weight: bold;
}

a:link, a:active, a:visited {
   color: #CD0000;
}

input { 
   margin-bottom: 5px;
}

p { 
   line-height: 150%;
}

div#container {
   width: 999px;
   margin: 0 auto;
   border:1px solid #ddd;
   border-radius:5px;
   background:#fff;
}

div#header {
   text-align: center;
   padding-bottom: 15px;
}

div#content {
   width: 979px;
   padding: 10px;
}

div#content h3 {
   margin-top: 15px;
}

ul#books {
   list-style-type: none;
}

ul#books li {
   line-height: 140%;
}

div#sidebar {
   width: 200px;
   margin-left: 480px;
}

ul#subjects {
   width: 700px;
   text-align: center;
   padding: 5px;
   background-color: #ececec;
   border: 1px solid #ccc;
   margin-bottom: 20px;
}

ul#subjects li {
   display: inline;
   padding-left: 5px;
}
ul#genres {
    font-size: 0;
    list-style: none;
}
ul#genres > li {
    border-color: #f00 #f00 #f00 -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    min-width: 100px;
    padding: 0 5px;
}

ul#genres > li:first-child {
    border-left: 1px solid #f00;
}
ul#genres > li:hover {
    background:#ddd;
}

ul#genres > li a, ul#genres > li a:link, ul#genres > li a:hover, ul#genres > li a:visited, ul#genres > li a:focus {
    text-decoration:none;
}
